body{
    /*font-family: 'Major Mono Display', monospace;*/
}

h1{
    border-style:solid;
    padding-top: 1em;
    background-color: #0000ff;
    color: white;
}

.important{
    color: purple;

}

#myname {
    color: red;

}

